/*css fouten:
	- Bij een lange pagina komt de content achter de footer
	- De message box maken
	- header fixen
*/
/*Main components*/
html {
	font-family:"Verdana", Times, serif;
}
body{
	background: #E6E6F0;
}
#head {
	position: fixed;
	top: 10px;
	left: 10px;
	right: 10px;
	heigth: 800px;/*werkt niet :( */
	color: #CCCCE0;
	background: #00001F;
	border: 10px outset #000066;
	box-shadow:5px 5px 100px black;	
}

#menu {
	position: fixed;
	left: 0px;
	top: 60px;
	padding-left: 10px;
	background: #8080B2; 
	height: 300px;
	border: 4px outset #000066;
	box-shadow:5px 5px 100px black;
	margin-top: 40px;
}
#content{
	padding: 10px;
	margin-left:150px;
	color: #CCCCE0;
	margin-top: 80px;
	margin-bottom: 200px;/*werkt niet :( */
}

footer{
	color: #CCCCE0;
	background: #00001F;
	border: 10px outset #000066;
	box-shadow:5px 5px 100px black;	
	position: fixed; 
	bottom: 10px;
	left: 10px;
	right: 10px;
}


/*Small components*/
#content h1 {
	text-align: center;
	background: #000033;
	color: #CCCCE0;
	border: 1px solid #CCCCE0;	
}
#content h2 {
	text-align: center;
	background: #000033;
	color: #CCCCE0;
	border: 1px solid #CCCCE0;	
	font-size: 1.5em;
}
#content button {
	font-size: 1em;
	color: #CCCCE0;	
	background: #000033;
	border: 10px solid #CCCCE0; 
}


/*Menu*/
#menu ul {
	margin: 0px; 
	padding: 0px; 
	width: 120px;
	list-style: none; 
}
#menu a {
	color: #CCCCE0;
	text-decoration:none;	
}

#menu ul li {
	background: #9999C2; 
	float: left; 
	height: 35px;
	width: 122px;
	border: 2px outset #000066;	
	margin-left: -2px;
}
#menu ul li a {
	display: block;
	padding: 5px;
	height: 20px;
}
#menu ul ul { 
	display: none;
} 
#menu ul li:hover ul { 
	margin-left: 125px; 
	margin-top:-32px;
	display: block;
}
#menu ul li ul li {
	background:#9999C2;
	width: 200px;
	border: 2px outset #000066;
	box-shadow:10px 10px 50px black;
}


/*Table*/
table {
	border: 1px solid #CCCCE0;
	text-align: center;
}
th {
	background: #000033;
	color: #CCCCE0;
	border: 1px solid #CCCCE0;
}
td {
	border: 1px solid #CCCCE0;
}

/*Header*/
#titel {
	text-align: left;
	
}
#titel h2 {
	font-size: 30px;
	color: #CCCCE0;
}
#titel h3 {
	font-size: 20px;
	color: #8080B2;
}
#accountinfo{
	position: fixed;
	top: 10px;
	right: 10px;
	text-align: right;
	width: 100px;
	border: 2px #000066;
}
