<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	
	<servlet>
		<servlet-name>Voorraad</servlet-name>
		<servlet-class>servlets.VoorraadOverzichtServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Voorraad</servlet-name>
		<url-pattern>/VoorraadOverzichtServlet.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>WijzigProduct</servlet-name>
		<servlet-class>servlets.WijzigProductServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WijzigProduct</servlet-name>
		<url-pattern>/WijzigProductServlet.do</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>NieuweKlus</servlet-name>
	<servlet-class>servlets.NieuweKlusServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NieuweKlus</servlet-name>
		<url-pattern>/NieuweKlusServlet.do</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>NieuweBestelling</servlet-name>
	<servlet-class>servlets.NieuweBestellingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NieuweBestelling</servlet-name>
		<url-pattern>/NieuweBestellingServlet.do</url-pattern>
	</servlet-mapping>
		<servlet>
	<servlet-name>StatusWijzigenFactuur</servlet-name>
	<servlet-class>servlets.StatusWijzigenFactuurServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StatusWijzigenFactuur</servlet-name>
		<url-pattern>/StatusWijzigenFactuurServlet.do</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>Facturennietbetaald</servlet-name>
	<servlet-class>servlets.OverzichtFacturenNietBetaaldServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Facturennietbetaald</servlet-name>
		<url-pattern>/OverzichtFacturenNietBetaaldServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-name>KlusWijzigen</servlet-name>
	<servlet-class>servlets.KlusWijzigenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>KlusWijzigen</servlet-name>
		<url-pattern>/KlusWijzigenServlet.do</url-pattern>
	</servlet-mapping>
</web-app>